{% extends '::backend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Crear un usuario{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('backend_usuario_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_usuario') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
