{% set expirada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
{% set comprada = comprada | default(false) %}

<section class="oferta mini" style="position:relative; margin-top: 20px;">
    <div class="row">
        <section class="hero-unit" style="padding: 25px; margin-bottom: 7px;">
            <h2><a href="{{ path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug}) }}">{{ oferta.nombre }}</a></h2>

            {{ oferta.descripcion }}

            {% if not expirada %}
            <p style="position: relative; width: 100%; text-align: right;">
                <a class="btn btn-success" href="#">Comprar</a>
            </p>
            {% endif %}
        </section>
    </div>

    <div class="row">
        <div class="span4">
            <img alt="Fotografía de la oferta" class="img-polaroid img-rounded"  src="{{ asset(directorio_imagenes ~ oferta.foto) }}" />
        </div>

        <dl class="span4">
            {% if comprada %}
            <dt>
                Comprada el
            </dt>
            <dd>
            {{ '%fecha%' | trans(
                    { '%fecha%': fechaCompra | localizeddate() }
                ) }}
            </dd>
            {% endif %}
            {% if not expirada %}
            <dt>
                Faltan
            </dt>
            <dd>
                {% trans with { '%fecha%': oferta.fechaExpiracion | cuenta_atras } %}
                %fecha%
                {% endtrans %}
            </dd>
            {% else %}
            <dt>
                Finalizada el
            </dt>
            <dd>
                {{ oferta.fechaExpiracion | localizeddate() }}
            </dd>
            {% endif %}

            <dt>
                Precio
            </dt>
            <dd>
                {{ descuento(oferta.precio, oferta.descuento) }}
            </dd>

            <dt>
                Disfruta de esta oferta en
            </dt>
            <dd>
                <a href="{{ path('tienda_portada', { 'ciudad': oferta.ciudad.slug, 'tienda': oferta.tienda.slug }) }}">
                    {{ oferta.tienda.nombre }}
                </a>
            </dd>
        </dl>
    </div>
</section>