{% extends '::extranet.html.twig' %}

{% block id 'oferta' %}
{% block title %}
    {{ accion == 'crear' ? 'Añadir una nueva oferta' : 'Modificar la oferta' ~ oferta.nombre }}
{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form
    action="{{ accion == 'crear' ? path('extranet_oferta_nueva')  : path('extranet_oferta_editar')  }}"
    method="post" {{ form_enctype(formulario) }}>
    <div>
        {{ form_errors(formulario) }}

        <div>
            {{ form_row(formulario.nombre) }}
        </div>

        <div>
            {{ form_label(formulario.descripcion, 'Descripción') }}
            {{ form_errors(formulario.descripcion) }}
            {{ form_widget(formulario.descripcion) }}

            <p class="ayuda">Escribe cada característica en una línea.</p>
        </div>

        <div>
            {{ form_row(formulario.condiciones) }}
        </div>

        <div>
            {{ form_label(formulario.foto, 'Fotografía') }}
            {{ form_errors(formulario.foto) }}

            {% if accion == 'editar' %}
                <img src="{{ asset('uploads/images/' ~ oferta.foto) }}" />

                {{ form_label(formulario.foto, 'Modificar foto') }}
            {% endif %}

            {{ form_widget(formulario.foto) }}

            <p class="ayuda">Tamaño máximo: 500KB. Formato preferido: JPEG.</p>
        </div>

        <div>
            {{ form_row(formulario.precio) }}
        </div>

        <div>
            {{ form_row(formulario.descuento) }}
        </div>

        <div>
            {{ form_label(formulario.umbral, 'Compras necesarias') }}
            {{ form_errors(formulario.umbral) }}
            {{ form_widget(formulario.umbral) }}
        </div>

        {% if accion == 'crear' %}
        <div>
            {{ form_errors(formulario.acepto) }}
            {{ form_widget(formulario.acepto) }}
            <span>
                Declaro que toda la información de esta oferta es correcta, que me comprometo
                a cumplir las condiciones prometidas y que dispongo de medios necesarios para
                hacerlo.
            </span>
        </div>
        {% endif %}

        {{ form_rest(formulario) }}

        <input class="boton" type="submit"
               value="{{ accion == 'crear' ? 'Añadir oferta' : 'Guardar cambios' }}" />
    </div>
</form>
{% endblock %}

{% block aside %}
{% endblock %}