{% extends '::base.html.twig' %}

{% block body %}
<header>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container" style="margin-top: 5px;">
        <a class="brand" href="{{ path('BackendPortada') }}" style="font-size: 24px; font-weight: bold;">CUPON BACKEND</a>

        {% set currentPath = app.request.attributes.get('_route') %}

        <ul class="nav">
            <li {{ currentPath == 'BackendPortada' ? 'class="active"' : '' }}>
                <a href="{{ path('BackendPortada') }}">Ofertas</a>
            </li>
            <li {{ currentPath == 'backend_tienda' ? 'class="active"' : '' }}>
                <a href="{{ path('backend_tienda') }}">Tiendas</a>
            </li>
            <li {{ currentPath == 'backend_usuario' ? 'class="active"' : '' }}>
                <a href="{{ path('backend_usuario') }}">Usuarios</a>
            </li>
            <li {{ currentPath == 'backend_ciudad' ? 'class="active"' : '' }}>
                <a href="{{ path('backend_ciudad') }}">Ciudades</a>
            </li>
            <li {{ currentPath == 'backend_venta' ? 'class="active"' : '' }}>
                <a href="{{ path('backend_venta') }}">Ventas</a>
            </li>
        </ul>

        <ul class="nav pull-right">
            <li>
                {% render "CiudadBundle:Default:listaCiudades"
                    with { 'ciudad': app.session.get('ciudad') } %}
            </li>
        </ul>
    </div>
    </div>
    </div>
</header>

<div class="container">
<div class="row">
<article class="span12">
    {% block article %}{% endblock %}
</article>
</div>
<div style="clear: both"></div>
<div class="row" style="height: 100px;">
    <div class="span12">&nbsp;</div>
</div>
</div>
{% endblock %}