{% extends '::base.html.twig' %}

{% block body %}
<header>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container" style="margin-top: 5px;">

        <a class="brand" href="{{ path('extranet_portada') }}" style="font-size: 24px; font-weight: bold;">CUPON EXTRANET</a>

        {% set currentPath = app.request.attributes.get('_route') %}

        <ul class="nav">
            <li {{ currentPath == 'extranet_portada' ? 'class="active"' : '' }}>
                <a href="{{ path('extranet_portada') }}">Ofertas</a>
            </li>
            <li {{ currentPath == 'extranet_perfil' ? 'class="active"' : '' }}>
                <a href="{{ path('extranet_perfil') }}">Mis datos</a>
            </li>
            <li {{ currentPath == 'extranet_logout' ? 'class="active"' : '' }}>
                <a href="{{ path('extranet_logout') }}">Cerrar sesión</a>
            </li>
        </ul>

        <ul class="nav pull-right" style="margin-top: 10px;">
            <li>
                Teléfono de atención al cliente <strong>902xxxxxx</strong>
            </li>
        </ul>
    </div>
    </div>
    </div>
</header>

<div class="container">
<div class="row">
<article class="span9" style="position: relative; top: 50px;">
    {% block article %}{% endblock %}
</article>

<aside class="span3" style="position: relative; top: 60px;">
    {% block aside %}
    <a class="btn btn-info btn-large" href="{{ path('extranet_oferta_nueva') }}">Añadir oferta</a>

    <section id="faq">
        <h2>Preguntas frecuentes</h2>

        <dl>
            <dt>¿Lorem ipsum dolor sit amet?</dt>
            <dd>Consectetur adipisicing elit, sed do eiusmod tempor.</dd>
            <dt>¿Ut enim ad minim veniam?</dt>
            <dd>Quis nostrud exercitation ullamco laboris nisi.</dd>
            <dt>¿Excepteur sint occaecat cupidatat non proident?</dt>
            <dd>Sunt in culpa qui officia deserunt mollit anim laborum.</dd>
        </dl>
    </section>
    {% endblock %}
</aside>
</div>
<div style="clear: both"></div>
<div class="row" style="height: 100px;">
    <div class="span12">&nbsp;</div>
</div>
</div>
{% endblock %}