{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto) %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/oferta/js/frontend.js') }}"></script>
{% endblock %}

{% block body %}
<header>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container" style="margin-top: 5px;">
    <a class="brand" href="{{ path('_portada') }}" style="font-size: 24px; font-weight: bold;">CUPON</a>

    {% set currentPath = app.request.attributes.get('_route') %}

    <ul class="nav">
        <li {{ currentPath == 'portada' ? 'class="active"' : '' }}>
            <a href="{{ path('portada', { 'ciudad': ciudad_por_defecto}) }}">{{ "menu.dia" | trans }}</a>
        </li>
        <li {{ currentPath == 'ciudad_reciente' ? 'class="active"' : '' }}>
            <a href="{{ path('ciudad_reciente', { 'ciudad': ciudadSeleccionada, '_format': 'html' }) }}">{{ "menu.recientes" | trans }}</a>
        </li>
        <li {{ currentPath == 'usuario_compras' ? 'class="active"' : '' }}>
            <a href="{{ path('usuario_compras') }}">{{ "menu.mias" | trans }}</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li>
            {% render "CiudadBundle:Default:listaCiudades"
                        with { 'ciudad': ciudadSeleccionada } %}
        </li>
    </ul>
    </div>
    </div>
    </div>
</header>

<div class="container">
<div class="row">
<article class="span9" style="position: relative; top: 50px;">
    {% block article %}{% endblock %}
</article>

<aside class="span3" style="position: relative; top: 60px;">
    {% block aside %}
        <section id="login">
            {% render 'UsuarioBundle:Default:cajaLogin' %}
        </section>
    {% endblock %}
</aside>
</div>
<div style="clear: both"></div>
<div class="row" style="height: 100px;">
    <div class="span12">&nbsp;</div>
</div>
</div>
{% endblock %}