{% extends '::backend.html.twig' %}

{% block id 'oferta' %}
{% block title %}Listado de ofertas{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ simple_paginator_render('BackendPortada', null, {}, 'BackendBundle:Default:paginator.html.twig') }}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descuento</th>
            <th>Fecha_publicacion</th>
            <th>Fecha_expiracion</th>
            <th>Compras</th>
            <th>Umbral</th>
            <th>Revisada</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('oferta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.precio }}</td>
            <td>{{ entity.descuento }}</td>
            <td>{% if entity.fechapublicacion %}{{ entity.fechapublicacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.fechaexpiracion %}{{ entity.fechaexpiracion|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.compras }}</td>
            <td>{{ entity.umbral }}</td>
            <td>{{ entity.revisada }}</td>
            <td>
                <a href="{{ path('oferta_show', { 'id': entity.id }) }}"><span class="icon-search"></span></a>
                &nbsp;&nbsp;
                <a href="{{ path('oferta_edit', { 'id': entity.id }) }}"><span class="icon-edit"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-success" href="{{ path('oferta_new') }}">
    Crear una nueva oferta
</a>

{{ simple_paginator_render('BackendPortada', null, {}, 'BackendBundle:Default:paginator.html.twig') }}
{% endblock %}